<h1>Home Page!</h1>
<form>
    <div>
        <br>
    <div>
    <input class="form-control"/>
    </div>
    <br>
    <div>
    <button class="btn btn-primary">Button</button> 
    </div>
    </div>
    </form>
